<h2>Purchase succesfully</h2>

<p>Orden n°: {{order.code}}</p>
<p>Total: {{order.amount}}</p>
<p>Cantidad de productos: {{order.products_quantity}}</p>
<p>Total precio: {{order.products_price}}</p>
<p>Comprador: {{order.purchaser}}</p>

<button onclick="location.href='/api'">HOME</button>