<h4>Welcome {{first_name}}</h4>
<h5>Your email is {{email}}</h5>
<h5 id="cart">cart: {{cart}}</h5>
<h5>Role: {{role}}</h5>

{{#if isAdmin}}
  <button onclick="location.href='/api/backOfficeHome'">BACK OFFICE</button>
  <p></p>
{{/if}}
<button onclick="location.href='/api/file'">UPLOAD IMAGES AND DOCUMENTS</button>
<p></p>
{{#if isPremium}}
  <button onclick="location.href='/api/backOfficeHome'">BACK OFFICE</button>
  <p></p>
{{/if}}
<button onclick="location.href='/api/sessions/logout'">Logout</button>
<p></p>
<button onclick="location.href='/api/purchase'">CART</button>
<div id="productList">
  {{#each filteredProducts}}
    <p>Title: {{title}} </p>
    <p>Description: {{description}} </p>
    <p>Code: {{code}} </p>
    <p>Price: {{price}} </p>
    <p>Status: {{status}} </p>
    <p>Category: {{category}} </p>
    <input type="submit" id="{{_id}}" value="Agregar al carrito" />
    <p>----------------------------</p>
  {{/each}}
</div>
<div id="moreProducts"></div>

{{#if nextLink}}
  <button id={{nextLink}}>More products</button>
  <p></p>
{{/if}}

<div id="productsList"></div>
<script type="module" src="/js/products.js"></script>